---
import { getCollection, render } from "astro:content";
import { FaShare } from "react-icons/fa";
import MainLayout from "../../layouts/Main.astro";
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }));
}
const post = Astro.props;
const { Content } = await render(post);
---

<MainLayout
  lang={post.data.lang}
  title={post.data.title}
  description={post.data.description}
  socialImage={post.data.socialImage}
  keywords={post.data.keywords}
>
  <article
    class="prose lg:prose-lg prose-pre:text-left flex flex-col items-center gap-4 self-center *:text-center"
  >
    <h1
      class="post-title"
      style={`view-transition-name: post-title-${post.id}`}
    >
      {post.data.title}
    </h1>
    <p class="not-prose text-xl">{post.data.description}</p>
    <p class="not-prose">
      Published on {post.data.publishDate.toLocaleDateString()}
    </p>
    <Content />
    <button
      type="button"
      onclick="share();"
      class="btn mt-4 flex"
      aria-label="Share"><FaShare /> Share</button
    >
  </article>
  <script is:inline>
    const share = () => {
      if (navigator.share) {
        navigator.share({
          title: document.title,
          text: document.querySelector("meta[name=description]").content,
          url: window.location.href,
        });
      } else {
        alert(
          "Web Share API is not supported in your browser or operating system!",
        );
      }
    };
  </script>
</MainLayout>
