---
const username = "fluentmoheshwar";
import {
  FaBluesky,
  FaFacebook,
  FaGithub,
  FaHouse,
  FaInstagram,
  FaMastodon,
  FaNewspaper,
  FaRss,
  FaThreads,
  FaUser,
  FaXTwitter,
  FaYoutube,
} from "react-icons/fa6";
import { GoLinkExternal } from "react-icons/go";
---

<nav class="sm:navbar mb-6 sm:justify-center">
  <ul
    class="menu rounded-box bg-base-200 sm:menu-horizontal w-full px-2 py-2 sm:justify-center"
  >
    <li><a href="/" aria-label="Home"><FaHouse /> Home</a></li>
    <li><a href="/posts/" aria-label="Posts"><FaNewspaper /> Posts</a></li>
    <li>
      <a href="/rss.xml" aria-label="RSS Feed" target="_blank"><FaRss /> RSS</a>
    </li>
    <li>
      <a
        rel="me"
        href={`https://github.com/${username}/`}
        target="_blank"
        aria-label="GitHub"><FaGithub /> GitHub <GoLinkExternal /></a
      >
    </li>
    <li>
      <details>
        <summary><FaUser /> Social Media</summary>
        <ul class="menu menu-vertical rounded-box bg-base-200">
          <li>
            <a
              rel="me"
              href={`https://facebook.com/${username}/`}
              target="_blank"
              aria-label="Facebook"
              ><FaFacebook /> Facebook <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href={`https://x.com/${username}/`}
              target="_blank"
              aria-label="Twitter"
              ><FaXTwitter /> Twitter/X <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href={`https://www.instagram.com/${username}/`}
              target="_blank"
              aria-label="Instagram"
              ><FaInstagram /> Instagram <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href={`https://www.threads.net/@${username}/`}
              target="_blank"
              aria-label="Threads"><FaThreads /> Threads <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href={`https://bsky.app/profile/moheshwar.com`}
              target="_blank"
              aria-label="Bluesky"
            >
              <FaBluesky /> Bluesky <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href={`https://www.youtube.com/@${username}/`}
              target="_blank"
              aria-label="YouTube"><FaYoutube /> YouTube <GoLinkExternal /></a
            >
          </li>
          <li>
            <a
              rel="me"
              href="https://mastodon.social/@fluentmoheshwar"
              target="_blank"
              aria-label="Mastodon"
              ><FaMastodon /> Mastodon <GoLinkExternal /></a
            >
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
