---
const username = "fluentmoheshwar";
import {
  FaFacebook,
  FaGithub,
  FaHouse,
  FaInstagram,
  FaNewspaper,
  FaThreads,
  FaUser,
  FaXTwitter,
  FaYoutube,
  FaBluesky
} from "react-icons/fa6";
---

<nav class="navbar justify-center p-0">
  <ul
    class="menu menu-horizontal rounded-box bg-base-200 p-0 text-[10px] sm:text-base"
  >
    <li><a href="/"><FaHouse /> Home</a></li>
    <li><a href="/posts/"><FaNewspaper /> Posts</a></li>
    <li>
      <a href={`https://github.com/${username}/`}><FaGithub /> GitHub</a>
    </li>
    <li>
      <details>
        <summary><FaUser /> Social Media</summary>
        <ul class="menu menu-vertical rounded-box bg-base-200">
          <li>
            <a href={`https://facebook.com/${username}/`}
              ><FaFacebook /> Facebook</a
            >
          </li>
          <li>
            <a href={`https://twitter.com/${username}/`}
              ><FaXTwitter /> Twitter/X</a
            >
          </li>
          <li>
            <a href={`https://www.instagram.com/${username}/`}
              ><FaInstagram /> Instagram</a
            >
          </li>
          <li>
            <a href={`https://www.threads.net/@${username}/`}
              ><FaThreads /> Threads</a
            >
          </li>
          <li><a href={`https://bsky.app/profile/${username}.bsky.social/`}><FaBluesky /> Bluesky</a></li>
          <li>
            <a href={`https://www.youtube.com/@${username}/`}
              ><FaYoutube /> YouTube</a
            >
          </li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
