---
import "@fortawesome/fontawesome-free/css/all.css";
import SocialTags from "../components/layouts/SocialTags.astro";
import Navbar from "../components/layouts/Navbar.astro";
import Footer from "../components/layouts/Footer.astro";
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
  description: string;
  socialImage: string;
}
const { title, description, socialImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <SocialTags
      title={title}
      description={description}
      socialImage={socialImage}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions fallback="none" />
  </head>
  <body class="flex h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
