---
import Footer from "../components/layouts/Footer.astro";
import Navbar from "../components/layouts/Navbar.astro";
import SocialTags from "../components/layouts/SocialTags.astro";
import "../styles/index.css";
export interface Props {
  lang: string;
  title: string;
  description: string;
  socialImage: string;
  canonical?: string;
  keywords: string;
}
const { lang, title, description, socialImage, canonical, keywords } =
  Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <SocialTags
      title={title}
      description={description}
      socialImage={socialImage}
    />
    <noscript>
      <p class="m-auto bg-pink-800 p-5 text-center text-2xl text-white">
        JavaScript is disabled! Some features may not function correctly!
      </p>
    </noscript>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/rss.xml"
    />
    <link rel="canonical" href={canonical} />
  </head>

  <body class="flex h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <script>
      import Clarity from "@microsoft/clarity";

      Clarity.init("pojiqcvx89");
    </script>
  </body>
</html>
