---
import "../styles/index.css";
import Footer from "../components/layouts/Footer.astro";
import Navbar from "../components/layouts/Navbar.astro";
import SocialTags from "../components/layouts/SocialTags.astro";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang={frontmatter.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{frontmatter.title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={frontmatter.title} />
    <meta name="description" content={frontmatter.description} />
    <SocialTags
      title={frontmatter.title}
      description={frontmatter.description}
      socialImage={frontmatter.image}
    />
    <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style>
  </head>
  <body class="flex h-screen flex-col">
    <Navbar />
    <article class="prose prose-a:link sm:m-auto">
      <h1 class="text-center">{frontmatter.title}</h1>
      <slot />
    </article>
    <Footer />
    <script>
      import Clarity from "@microsoft/clarity";
      Clarity.init("pojiqcvx89");
    </script>
  </body>
</html>
